@model PA.Web.Models.HomeMOD
@{

    Layout = "~/Views/Shared/_Modal.cshtml";
}

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    Teste

   @*<table border="1">
    
        @foreach (var p in Model.lstRssReader)

        {
            <tr border="1">
                <th>
                    @Html.Encode(p.Title) ;
                </th>
            </tr>
            <tr border="1">
                <th>
                    @Html.Encode(p.Description);
                </th>
            </tr>
            <tr border="1">
                <th>
                    @Html.Encode(p.Link) ;
                </th>
            </tr>
        }
    </table>*@
</asp:Content>